body,html{
    background-image: url(assets/tab-backgrounds/projects-blur.jpg);
}

.video-player {
    width: 65vw;
    height: 36.5625vw;
    top: calc((100vh - 36.5625vw) / 2);
    left: 17.5vw;
    transform: scale(0);
    position: fixed;
    z-index: 99;
    transition: all 0.5s;
}

.video-player-on {
    transform: scale(1);
    transition: all 0.5s;
}

.dark-frame {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 98;
    background: black;
    opacity: 0;
    display: none;
    transition: all 0.5s;
}

.dark-frame-on {
    display: block;
    opacity: 0.75;
    transition: all 0.5s;
}

@media screen and (max-width: 900px) {
    #skill-icon{
        height: 38px;
    }

    #skill-type{
        font-size: 16px;
    }
}