body,html{
    background-image: url(assets/tab-backgrounds/projects-blur.jpg);
}

.all {
    overflow-y: hidden;
    overflow-x: hidden;
}

.video-player {
    width: 65vw;
    height: 36.5625vw;
    top: calc((100vh - 36.5625vw) / 2);
    left: 17.5vw;
    transform: scale(0);
    position: absolute;
    z-index: 99;
    transition: all 0.5s;
}

.transparent-blur {
    opacity: 0;
    filter: blur(50px);
}

.video-bg {
    width: 67vw;
    top: calc((100vh - 38vw) / 2);
    left: 16.5vw;
    margin-bottom: 75px;
    transform: scale(0);
    position: absolute;
    z-index: 98;
    background-image: url(assets/project-covers/video-bg.svg);
    background-size: cover;
    transition: all 0.5s;
}

.video-bg-error {
    /*background-image: url(assets/project-covers/video-bg-error.svg); */
}

#start-image {
    height: 100vh;
}

.video-bg > img {
    width: 80%;
    margin-left: 10%;
}


.video-bg > p {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
    font-size: 14px;
    word-wrap: break-word;
}

.video-bg > li {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 10px;
    font-size: 14px;
}

.video-bg > .subtitle {
    font-size: 28px;
    text-align: left;
    margin-bottom: 20px;
}

.video-bg > .description {
    font-size: 13px;
    text-align: center;
    color: grey;
    margin-bottom: 20px;
}

.indent {
    text-indent: 1.0em; 
}

#text-bounce {
    position: absolute; 
    transition: all 1s; 
    transition-timing-function: linear;
}

.video-player-on {
    transform: scale(1);
    transition: all 0.5s;
}

.dark-frame {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 97;
    background: black;
    opacity: 0;
    display: none;
    transition: all 2s;
}

.dark-frame-on {
    display: block;
    opacity: 0.6;
}

@media screen and (max-width: 900px) {
    #skill-icon{
        height: 38px;
    }

    #skill-type{
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {

    .video-bg {
        width: 74vw;
        left: 13vw;
    }

    .video-bg > p {
        margin-bottom: 15px;
        font-size: 11px;
    }

    .video-bg > li {
        margin-bottom: 5px;
        margin-top: 10px;
        font-size: 11px;
        text-align: left;
    }

    .video-bg > .description {
        font-size: 9px;
        margin-bottom: 15px;
        margin-top: 0;
    }

}