@font-face {
    font-family: "UniqueDistrictThin";
    src: url(assets/DistTh.ttf);
}

body,html{
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    background-image: url(assets/tab-backgrounds/home-blur.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    z-index: -2;
    transition: all 0.5s;
    background-color: black;
}

body {
    overflow-y: hidden;
}



p{
    font-family: "UniqueDistrictThin";
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: lighter;
    color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: justify;
    transition: all 0.5s;
}

li{
    font-family: "UniqueDistrictThin";
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 1px;
    color: white;
    width: 46%;
    margin-left: 27%;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: justify;
    transition: all 0.5s;
}

.tab{
    width: 20%;
    height: 40px;
    transition: all 0.5s;

}

.body-background{
    background: #171717;
    position: relative;
    box-shadow: 0px 0px 50px;
    transition: all 0.5s;

}

.nav {
    position: fixed;
    width: 100%;
    height: 40px;
    background: #171717;
    box-shadow: 0px 0px 50px;
    z-index: 99;
    transition: all 0.5s;

}

.nav > .tab > a{
    position: relative;
    font-family: "UniqueDistrictThin";
    font-size: 15px;
    font-weight: lighter;
    color: white;
    text-align: center;
    text-decoration: none;
    z-index: 2;
    transition: all 0.5s;

}

.top-icon {
    display: none;
}

.tab:hover .top-icon{
    display: block;
    position: relative;
    float: left;
    display: block;
    width: 16px;
    height: 16px;
    left: calc(50% - 8px);
    top: calc(50% - 8px);
    animation: positionShift 0.5s;
    animation-fill-mode: forwards;
}

@keyframes positionShift {
    0% {
        opacity: 0;
        left: 49%;
    }

    100% {
        opacity: 1;
        left: 43%;
    }
}

#home-icon:hover a{
    color: #00FFFF;
    margin-left: 25px;
}

#home-icon:hover .top-icon{
    content:url("assets/home-icon-color.png");
}

#skills-icon:hover a{
    color: #00FF00;
    margin-left: 21px;
}

#skills-icon:hover .top-icon{
    content:url("assets/skills-icon-color.png");
}

#projects-icon:hover a{
    color: #f956ff;
    margin-left: 36px;
}

#projects-icon:hover .top-icon{
    content:url("assets/projects-icon-color.png");
}

.experience-icon img{
    height: 50px;
    margin-left: 30px;
    position: absolute;
    opacity: 0.5;
    transition: all 1s;
}

.experience-icon:before {
    content: '';
    position: absolute;
    float: left;
    background-color: #171717;
    width: 0;
    height: 0;
    -ms-transform: translate(-8%, -15px);
    -moz-transform: translate(-8%, -15px);
    -o-transform: translate(-8%, -15px);
    -webkit-transform: translate(-8%, -15px);
    transform: translate(-8%, -15px);
    opacity: 0;
    border: 0.5px solid transparent;
    border-left-width: 5px;
}



.experience-icon:hover:before {

    animation: bord-animation-front 0.5s forwards;
    -webkit-animation: bord-animation-front 0.5s forwards;

}

@keyframes bord-animation-front {
    0%
    {
        width: 0;
        height: 0;
        transform: translate(-50%, -15px);
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: white;
        opacity: 1;
    }

    40%
    {
        width: 0;
        height: 80px;
        transform: translate(-20%, -15px);
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: white;
        opacity: 1;
    }

    100%
    {
        width: 64%;
        height: 80px;
        transform: translate(-8%, -15px);
        border-top-color: white;
        border-right-color: white;
        border-bottom-color: white;
        border-left-color: white;
        opacity: 1;
    }
}

@-webkit-keyframes bord-animation-front {
    0%
    {
        width: 0;
        height: 0;
        -webkit-transform: -webkit-translate(-50%, -15px);
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: white;
        opacity: 1;
    }

    40%
    {
        width: 0;
        height: 80px;
        -webkit-transform: -webkit-translate(-20%, -15px);
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: white;
        opacity: 1;
    }

    100%
    {
        width: 64%;
        height: 80px;
        -webkit-transform: -webkit-translate(-12%, -15px);
        border-top-color: white;
        border-right-color: white;
        border-bottom-color: white;
        border-left-color: white;
        opacity: 1;
    }
}

@keyframes research-bord-animation-front {
    0%
    {
        width: 0;
        height: 0;
        transform: translate(185px, -15px);
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: white;
        opacity: 1;
    }

    40%
    {
        width: 0;
        height: 98%;
        transform: translate(185px, -15px);
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: white;
        opacity: 1;
    }

    100%
    {
        width:  100%;
        height: 98%;
        transform: translate(0, -15px);
        border-top-color: white;
        border-right-color: white;
        border-bottom-color: white;
        border-left-color: white;
        opacity: 1;
    }
}

@-webkit-keyframes research-bord-animation-front {
    0%
    {
        width: 0;
        height: 0;
        transform: translate(185px, -15px);
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: white;
        opacity: 1;
    }

    40%
    {
        width: 0;
        height: 98%;
        transform: translate(185px, -15px);
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: white;
        opacity: 1;
    }

    100%
    {
        width:  100%;
        height: 98%;
        transform: translate(0, -15px);
        border-top-color: white;
        border-right-color: white;
        border-bottom-color: white;
        border-left-color: white;
        opacity: 1;
    }
}

#experience-icon:hover a{
    color: #ff812d;
    margin-left: 55px;
}

#experience-icon:hover .top-icon{
    content:url("assets/experience-icon-color.png");
}

.research-icon{
    position: relative;
    padding-bottom: 15px;
    padding-left: 0;
    padding-top: 15px;
}

.research-icon img{
    width: 150px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}

.research-side {
    width: calc(100% - 195px);
    max-width: 700px;
    vertical-align: top;
    display: inline-block;
}

#research-side-text {
    text-align: left;
    font-size: 17px;
    text-shadow: 2px 2px 2px black;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
    width: 100%;
    transition: all 0.5s;
}

#research-authors {
    text-align: left;
    font-size: 15px;
    color: #bcbcbc;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 2px;
    width: 100%;
    transition: all 0.5s;
}

#research-me {
    color: white;
}

#research-sub-text {
    text-align: left;
    font-size: 16px;
    color: #bcbcbc;
    width: 100%;
    float: left;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 0px;
    opacity: 1;
    transition: all 0.5s;
}


.research-icon a {
    color: white;
    text-decoration: none;
}

.research-icon a:hover {
    text-decoration: underline;
}

#research-sub-tag {
    text-align: left;
    display: inline-block;
    font-size: 15px;
    background-color: #bcbcbc;
    color: black;
    text-shadow: -0.2px 0 black, 0 0.2px black, 0.2px 0 black, 0 -0.2px black;
    border-radius: 5px;
    width: auto;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    padding: 1px;
    padding-right: 6px;
    padding-left: 6px;
    opacity: 1;
    transition: all 0.5s;
}


#contact-icon:hover a{
    color: #FFFF00;
    margin-left: 35px;
}

#contact-icon:hover .top-icon{
    content:url("assets/contact-icon-color.png");
}

.tab{
    width: calc(20% - 2px);
    height: 100%;
    text-align: center;
    line-height: 40px;
    float: left;
    transition: all 0.5s;
    cursor: pointer;
}

.tab:hover{
    background: #282828;
    transition: all 0.5s;
}

.nav-bottom{
    position: relative;
    width: 225px;
    margin-left: calc(50% - 115px);
    height: 40px;
    background: #0f0f0f;
    box-shadow: 0px 0px 50px;
    text-align: center;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid #515151;
    border-bottom: none;

}

.bottom-tab{
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    transition: all 0.5s;
    cursor: pointer;
}

.bottom-tab:hover{
    background: #333333;
    transition: all 0.5s;
}

.nav-bottom img {
    height: 25px;
    margin-top: 7.5px;
}

.nav-bottom > .bottom-tab > a{
    position: relative;
    font-family: "UniqueDistrictThin";
    font-size: 15x;
    font-weight: lighter;
    letter-spacing: 1px;
    color: #8c8c8c;
    text-align: center;
    text-decoration: none;
    z-index: 2;
    transition: all 0.5s;
}

.small-circle{
    position: relative;
    width: 5px;
    height: 5px;
    border-radius: 25px;
    display: inline-block;
    top: 17.5px;
    background: #8c8c8c;
    margin: 0px 5px;
    transition: all 0.5s;
}

.small-rectangle{
    position: relative;
    width: 1px;
    height: 25px;
    float: left;
    top: 7.5px;
    background: #8c8c8c;
    transition: all 0.5s;
}

.bridge{
    position: relative;
    box-shadow: 0px 0px 50px;
    opacity: 0;
    transition: all 0.5s;
}

.circle{
    position: relative;
    width: 200px;
    height: 200px;
    left: calc(50% - 100px);
    top: 50px;
    margin-bottom: 60px;
    border-radius: 100%;
    border: 1px solid white;
    box-shadow: 0px 0px 50px;
    overflow: hidden;
    transition: all 0.5s;
}

.circle-dashed{
    position: absolute;
    border: 0.5px dashed white;
    width: 200px;
    height: 200px;
    left: calc(50% - 100.5px);
    top: 49.5px;
    border-radius: 100%;
    transition: all 0.5s ease
}

.rect-double{
    position: absolute;
    width: 200px;
    height: 200px;
    left: calc(50% - 100px);
    top: 50px;
    transform: rotate(45deg);
    transition: all 0.5s ease;
    clip-path: circle(50% at 51% 52%);
    -webkit-clip-path: circle(50% at 51% 52%);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes moveMask {
  0% {
    clip-path: circle(54% at 50% 50%);
    -webkit-clip-path: circle(54% at 50% 50%);
  }

  35% {
    clip-path: circle(58% at 50% 50%);
    -webkit-clip-path: circle(58% at 50% 50%);
  }

  65% {
    clip-path: circle(58% at 50% 50%);
    -webkit-clip-path: circle(58% at 50% 50%);
  }

  100% {
    clip-path: circle(54% at 50% 50%);
    -webkit-clip-path: circle(54% at 50% 50%);
  }
}

.rectangle01{
    position: fixed;
    width: 0px;
    height: 2px;
    left: 50%;
    top: 50%;
    background: white;
    transition: all 0.5s;
}

.center{
    position: fixed;
    font-family: "UniqueDistrictThin";
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    top: calc(50% - 30px);
    opacity: 0;
    transition: all 0.5s;
}

.center-fadeIn{
    opacity: 1;
    transition: all 0.5s;
    transition: all 0.5s;
}

.rectangle02{
    position: fixed;
    width: 0px;
    height: 2px;
    left: 50%;
    top: 50%;
    background: white;
    transition: all 0.5s;
}

.rectangle-animate01{
    width: 400px;
    left: calc(50% - 200px);
    transition: all 0.5s;
}

.rectangle-animate021{
    top: calc(50% - 30px);
    transition: all 0.5s;
}

.rectangle-animate022{
    top: calc(50% + 27px);
    transition: all 0.5s;
    transition: all 0.5s;
}

.icon{
    width: 100%; 
    height: 100%;
    transition: all 0.5s;
}

.nav-bottom > .bottom-tab > .bottom-icon{
    display: none;
    transition: all 0.5s;
}

.bottom-tab:hover a{
    color: white;
}

@keyframes jump {
    0% {transform: translate(0, 0);}
    50% {transform: translate(0, -50px);}
    100% {transform: translate(0, 0);}
}

#vimeo-icon-jump {
    margin-left: calc(40% - 15px);
}

#processing-icon-jump {
    margin-left: calc(60% - 15px);
}

#git-icon-jump {
    margin-left: calc(80% - 15px);
}

code {
    color: grey;
}

.indent {
    text-indent: 1.0em;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hi{
    font-size: 25px;
    padding-top: 10px;
    width: 50%;
    margin-left: 25.5%;
    margin-bottom: 0px;
    text-align: center;
    transition: all 0.5s;
}

#start-text{
    font-size: 20px;
    padding-top: 40px;
    margin-bottom: 20px;
    transition: all 0.5s;
}

#line-grey{
    width: 50%;
    height: 1px;
    margin-left: 25%;
    margin-bottom: 10px;
    background: #515151;
    transition: all 0.5s;
}

#line-grey-small{
    width: 100%;
    height: 1px;
    margin-bottom: 0px;
    background: #515151;
    transition: all 0.5s;
}

.adobe-icon{   
    background: #1c1c1c;
    left: 50%;
    padding-bottom: 0px;
    padding-left: 25%;
    padding-top: 25px;
    transition: all 0.5s;
}

.adobe-icon-indent {
    padding-top:5px; 
    padding-left:calc(25% + 50px);
}

#side-text{
    display: inline-block;
    text-align: left;
    font-size: 20px;
    width: 75%;
    margin-left: 2%;
    margin-bottom: 0px;
    transition: all 0.5s;
}

.minor-side-text {
    display: inline-block;
    line-height: 50px;
}

#small-side-text{
    display: inline-block;
    text-align: left;
    font-size: 15px;
    margin-left: 2%;
    margin-bottom: 0px;
    color: #9b9b9b;
    transition: all 0.5s;
}

#contact-side-text{
    font-size: 20px;
    display: inline-block;
    margin-left: 2%;
    margin-top: 12px;
    margin-bottom: 0px;
    transition: all 0.5s;
}

#skill-icon{
    width: 80%;
    height: 30px;
    left: 50%;
    margin-left: 25%;
    transition: all 0.5s;
}

#skill-type{
    font-size: 20px;
    letter-spacing: 2px;
    width: 50%;
    height: 50%;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    transition: all 0.5s;
}

#learn-more{
    margin: 0 0 0 0;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 10px;
    text-align: center;
    color: #999999;
    background: #1c1c1c;
    transition: all 0.5s;
}

#video-icon{
    float: left;
    width: 27.3%;
    margin-left: 3%;
    margin-right: 3%;
    height: 15vw;
    padding-top: 20px;
    padding-bottom: 10px;
    display: inline-block;
}

#video-image{
    width: 100%;
    box-shadow: 5px 5px 25px;
}

#video-image-right{
    margin-left: 10%; 
    box-shadow: 0px 0px 25px;
}

#video-text{
    width: 100%;
    font-size: 15px;
    margin-left: 0;
    text-align: center;
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 0px;
    transition: all 0.5s;
}


#small-video-text{
    width: 100%;
    font-size: 13px;
    color:#9b9b9b;
    text-align: center;
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0;
    transition: all 0.5s;
}

.video-skills {
    position: absolute;
    width: 50%;
    opacity: 100;
    margin-left: 15%;
    margin-top: 1%;
    transition: all 0.7s;
    z-index: 4;
    transform: scale(1);
}

#video-skills-icon {
    width: 40px;
    transform: scale(0);
    transition: all 0.7s;
}

.active-cover{
    position: absolute;
    z-index: 2;
    width: 19.8%;
    height: 15vw;
    transition: all 0.5s;
    cursor: pointer;
}

.cover-image{
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
}

@keyframes mask {
    from {clip-path: inset(0px 110% 0px 0px);}
    to {clip-path: inset(0 0 0 0);}
}

.video-screen-on{
    opacity: 0.65;
    transition: all 0.5s;
}

.resume-button{
    width: 300px;
    height: 40px;
    margin-left: calc(50% - 150px);
    margin-bottom: 30px;
    transition: all 0.5s;
}

.resume-button-hover{
    position: absolute;
    height: 40px;
    margin-bottom: 50px;
    opacity: 0;
    transition: all 0.5s;
    cursor: pointer;
}

.resume-button-on{
    opacity: 1;
    transition: all 0.5s;
}

.experience-icon{
    background: #1c1c1c;
    height: 50px;
    left: 50%;
    padding-bottom: 15px;
    padding-left: calc(25% - 30px);
    padding-top: 15px;
    transition: all 0.5s;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.experience-side {
    margin-top: 25px;
    margin-left: 60px;
}

#experience-side-text{
    position: absolute;
    text-align: left;
    font-size: 17px;
    text-shadow: 2px 2px 2px black;
    width: 75%;
    float: left;
    margin-left: 100px;
    margin-top: 5px;
    margin-bottom: 0px;
    transition: all 0.5s;
}

#experience-sub-text{
    position: absolute;
    text-align: left;
    font-size: 14px;
    color: #bcbcbc;
    width: 60%;
    float: left;
    margin-left: 4%;
    margin-top: 3px;
    margin-bottom: 0px;
    opacity: 1;
    transition: all 0.5s;
}

.experience-icon:hover img {
    opacity: 1;
}

.experience-icon:hover #experience-side-text {
    text-shadow: -0.3px 0 white, 0 0.3px white, 0.3px 0 white, 0 -0.3px white;
}

.experience-icon:hover #experience-sub-text {
    opacity: 0;
    transform: translate(30px, 0);
}

#experience-year-text{
    position: absolute;
    text-align: left;
    font-size: 14px;
    text-shadow: 2px 2px 2px black;
    color: white;
    width: 75%;
    float: left;
    margin-left: 4%;
    margin-top: 3px;
    margin-bottom: 0px;
    opacity: 0;
    transform: translate(-30px, 0);
    transition: all 0.5s;
}

.experience-icon:hover #experience-year-text {
    opacity: 1;
    transform: translate(0, 0);
}


.tabs {
    width: 56.25%;
    margin-left: 15%;
    overflow: hidden;
    background-color: #232325;
    border: 1px solid #515151;
    border-bottom: 0px;
}

.tab-year {
    width: 20%;
    height: 40px;
    transition: all 0.5s;
}

.tab-year:hover {
    background-color: rgb(60, 60, 70);
}

.tab-content {
    width: 80%;
    margin-left: 10%;
    overflow: hidden;
    background-color: #232325;
    border: 1px solid #515151;
}

.tab-content > #left {
    width: 50%;
    float: left;
}

.course {
    cursor: pointer;
}

.course > .left-text {
    float: left;
    text-align: left;
    width: 60%;
    margin-left: 10%;
    margin-right: 0%;
    margin-bottom: 0;
    font-size: 15px;
}

.course-title > .left-text-title {
    float: left;
    text-align: left;
    width: 60%;
    margin-left: 10%;
    margin-right: 0%;
    font-size: 15px;
}

.course > .right-text {
    float: left;
    text-align: right;
    color:grey;
    width: 20%;
    margin-left: 0%;
    margin-right: 10%;
    margin-bottom: 0;
    font-size: 15px;
}

#underline {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 0.7px;
    background-color: grey;
}

.tab-box {
  position: absolute;
  font-size: 12px;
  width: calc(20% - 2px);
  line-height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0 0 0 0;
  background: rgba(40,40,40,0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition: opacity .2s, visibility .2s;
}

#home-icon:hover #tab-box1 {
    visibility: visible;
    opacity: 1;
    animation-name: myFrames;
    animation-duration: 0.2s;
}

#skills-icon:hover #tab-box2 {
    visibility: visible;
    opacity: 1;
    animation-name: myFrames;
    animation-duration: 0.2s;
}

#projects-icon:hover #tab-box3 {
    visibility: visible;
    opacity: 1;
    animation-name: myFrames;
    animation-duration: 0.2s;
}

#experience-icon:hover #tab-box4 {
    visibility: visible;
    opacity: 1;
    animation-name: myFrames;
    animation-duration: 0.2s;
}

#contact-icon:hover #tab-box5 {
    visibility: visible;
    opacity: 1;
    animation-name: myFrames;
    animation-duration: 0.2s;
}

.year-text {
    font-size: 15px;
    width: 100%;
    margin: 0 0 0 0;
    text-align: center;
}

.year-box {
  position: absolute;
  font-size: 14px;
  width: 11.25%;
  margin: 0 0 0 0;
  background: rgba(60, 60, 70, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition: opacity .2s, visibility .2s;
}

.course-box {
  position: relative;
  float: left;
  font-size: 12px;
  color: #a8a8a8;
  margin: 0 0 0 0;
  margin-top: 8px;
  margin-bottom: 10px;
  margin-left: 10%;
  width: auto;
  visibility: hidden;
  opacity: 0;
  text-align: left;
  transition: 1s ease-in-out;
  transition: -webkit-transform 0.8s ease;
}

#year1-tab:hover #year-box1 {
  visibility: visible;
  opacity: 1;
  animation-name: myFrames;
  animation-duration: 0.2s;
}

#year2-tab:hover #year-box2 {
  visibility: visible;
  opacity: 1;
  animation-name: myFrames;
  animation-duration: 0.2s;
}

#year3-tab:hover #year-box3 {
  visibility: visible;
  opacity: 1;
  animation-name: myFrames;
  animation-duration: 0.2s;
}

#year4-tab:hover #year-box4 {
  visibility: visible;
  opacity: 1;
  animation-name: myFrames;
  animation-duration: 0.2s;
}

#year5-tab:hover #year-box5 {
  visibility: visible;
  opacity: 1;
  animation-name: myFrames;
  animation-duration: 0.2s;
}

@keyframes myFrames {
    from {transform: translate(0, -10px);}
    to {transform: translate(0, 0);}
}

.course {
    overflow: auto;
    padding-top: 5px;
    transition: all 0.2s;
}

.course:hover {
    background: rgba(0, 0, 0, 0.15);
    transform: scale(1.03);
}

.sub-title {
    font-size: 30px;
}

/**********************    Hovers for course description boxes ******************/

#C-F17-01:hover #course-box-F17-01 {
    visibility: visible;
    opacity: 100;
}

#C-F17-02:hover #course-box-F17-02 {
    visibility: visible;
    opacity: 100;
}

#C-F17-03:hover #course-box-F17-03 {
    visibility: visible;
    opacity: 100;
}

#C-F17-04:hover #course-box-F17-04 {
    visibility: visible;
    opacity: 100;
}

#C-F17-05:hover #course-box-F17-05 {
    visibility: visible;
    opacity: 100;
}


#C-S18-01:hover #course-box-S18-01 {
    visibility: visible;
    opacity: 100;
}

#C-S18-02:hover #course-box-S18-02 {
    visibility: visible;
    opacity: 100;
}

#C-S18-03:hover #course-box-S18-03 {
    visibility: visible;
    opacity: 100;
}

#C-S18-04:hover #course-box-S18-04 {
    visibility: visible;
    opacity: 100;
}

#C-S18-05:hover #course-box-S18-05 {
    visibility: visible;
    opacity: 100;
}

#C-S18-06:hover #course-box-S18-06 {
    visibility: visible;
    opacity: 100;
}

#C-F18-01:hover #course-box-F18-01 {
    visibility: visible;
    opacity: 100;
}

#C-F18-02:hover #course-box-F18-02 {
    visibility: visible;
    opacity: 100;
}

#C-F18-03:hover #course-box-F18-03 {
    visibility: visible;
    opacity: 100;
}

#C-F18-04:hover #course-box-F18-04 {
    visibility: visible;
    opacity: 100;
}

#C-F18-05:hover #course-box-F18-05 {
    visibility: visible;
    opacity: 100;
}

#C-F18-06:hover #course-box-F18-06 {
    visibility: visible;
    opacity: 100;
}

#C-S19-01:hover #course-box-S19-01 {
    visibility: visible;
    opacity: 100;
}

#C-S19-02:hover #course-box-S19-02 {
    visibility: visible;
    opacity: 100;
}

#C-S19-03:hover #course-box-S19-03 {
    visibility: visible;
    opacity: 100;
}

#C-S19-04:hover #course-box-S19-04 {
    visibility: visible;
    opacity: 100;
}

#C-S19-05:hover #course-box-S19-05 {
    visibility: visible;
    opacity: 100;
}

#C-S19-06:hover #course-box-S19-06 {
    visibility: visible;
    opacity: 100;
}


#C-F19-01:hover #course-box-F19-01 {
    visibility: visible;
    opacity: 100;
}

#C-F19-02:hover #course-box-F19-02 {
    visibility: visible;
    opacity: 100;
}

#C-F19-03:hover #course-box-F19-03 {
    visibility: visible;
    opacity: 100;
}

#C-F19-04:hover #course-box-F19-04 {
    visibility: visible;
    opacity: 100;
}

#C-F19-05:hover #course-box-F19-05 {
    visibility: visible;
    opacity: 100;
}

#C-F19-06:hover #course-box-F19-06 {
    visibility: visible;
    opacity: 100;
}

#C-S20-01:hover #course-box-S20-01 {
    visibility: visible;
    opacity: 100;
}

#C-S20-02:hover #course-box-S20-02 {
    visibility: visible;
    opacity: 100;
}

#C-S20-03:hover #course-box-S20-03 {
    visibility: visible;
    opacity: 100;
}

#C-S20-04:hover #course-box-S20-04 {
    visibility: visible;
    opacity: 100;
}

#C-S20-05:hover #course-box-S20-05 {
    visibility: visible;
    opacity: 100;
}

#C-S20-06:hover #course-box-S20-06 {
    visibility: visible;
    opacity: 100;
}

#C-F20-01:hover #course-box-F20-01 {
    visibility: visible;
    opacity: 100;
}

#C-F20-02:hover #course-box-F20-02 {
    visibility: visible;
    opacity: 100;
}

#C-F20-03:hover #course-box-F20-03 {
    visibility: visible;
    opacity: 100;
}

#C-F20-04:hover #course-box-F20-04 {
    visibility: visible;
    opacity: 100;
}

#C-F20-05:hover #course-box-F20-05 {
    visibility: visible;
    opacity: 100;
}

#C-F20-06:hover #course-box-F20-06 {
    visibility: visible;
    opacity: 100;
}

#C-S21-01:hover #course-box-S21-01 {
    visibility: visible;
    opacity: 100;
}

#C-F21-01:hover #course-box-F21-01 {
    visibility: visible;
    opacity: 100;
}

#C-F21-02:hover #course-box-F21-02 {
    visibility: visible;
    opacity: 100;
}

#C-F21-03:hover #course-box-F21-03 {
    visibility: visible;
    opacity: 100;
}

#C-F21-04:hover #course-box-F21-04 {
    visibility: visible;
    opacity: 100;
}

#C-F21-05:hover #course-box-F21-05 {
    visibility: visible;
    opacity: 100;
}

#C-S22-01:hover #course-box-S22-01 {
    visibility: visible;
    opacity: 100;
}

#C-S22-02:hover #course-box-S22-02 {
    visibility: visible;
    opacity: 100;
}

@media screen and (max-width: 1150px) {

    #video-icon{
        width: 38%;
        height: 20vw;
        margin-left: 6%;
        margin-right: 6%;
    }

    .active-cover{
        position: absolute;
        z-index: 2;
        width: 27.4%;
        height: 19.6875vw;
        transition: all 0.5s;
        cursor: pointer;
    }

}

@media screen and (max-width: 900px) {

    .experience-icon{
        height: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10%;
    }

    #skill-icon {
        height: 35px;
    }

    #skill-type {
        margin-top: 15px;
        font-size: 17px;
    }
    
    #side-text{
        font-size: 16px;
        margin-left: 3%;
        margin-top: 0px;
    }

    #small-side-text{
        width: 50%;
        font-size: 12px;
        margin-left: 3%;
        margin-top: 0px;
    }
    

    @keyframes bord-animation-front {
        0%
        {
            width: 0;
            height: 0;
            transform: translate(-5%, -5px);
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: white;
            opacity: 1;
        }

        40%
        {
            width: 0;
            height: 50px;
            transform: translate(-5%, -5px);
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: white;
            opacity: 1;
        }

        100%
        {
            width: 80%;
            height: 50px;
            transform: translate(0, -5px);
            border-top-color: white;
            border-right-color: white;
            border-bottom-color: white;
            border-left-color: white;
            opacity: 1;
        }
    }

    .experience-icon img {
        height: 35px;
        margin-left: 15px;
    }

    .experience-side {
        margin-top: 20px;
    }

    #experience-side-text{
        font-size: 14px;
        margin-left: 90px;
        width: 70%;
    }

    #experience-sub-text{
        font-size: 12px;
    }

    #experience-year-text{
        font-size: 12px;
    }

    .tabs{
        width: 55%;
    }

    .year-text > p {
        font-size: 14px;
        margin: 0 0 0 0;
        width: 100%;
    }

    .course > .left-text {
        font-size: 14px;
    }

    .course-title > .left-text-title {
        font-size: 14px;
    }

    .course > .right-text {
        font-size: 14px;
    }

    .year-box {
        width: 13.7%;
    }

}

@media screen and (max-width: 650px) {

    body,html{
        background-size: 660px 372px;
        background-repeat: no-repeat;
        background-position: top;
    }
    
    #circle{
        width: 150px;
        height: 150px;
        left: calc(50% - 75px);
    }
    
    #start-text{
        padding-top: 20px;
        margin-bottom: 0px;
    }
    
    p{
        font-size: 15px;
        width: 84%;
        margin-left: 8%;
        margin-top: 15px;
        margin-bottom: 30px; 
    }
    
    li{
        font-size: 14px;
        width: 80%;
        margin-left: 10%;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    
    #rectangle01{
        width: 200px;
        height: 1px;
        left: calc(50% - 100px);
        top: calc(25% - 20px);
    }
    
    .center{
        top: calc(25% - 33px);
    }
    
    .center-fadeIn{
        font-size: 30px;
        opacity: 1;
        transition: all 0.5s;
    }

    #rectangle02{
        width: 200px;
        height: 1px;
        left: calc(50% - 100px);
        top: calc(25% + 20px);
    }
    
    .rectangle-animate01{
        width: 200px;
        left: calc(50% - 100px);
    }
        
    .rectangle-animate021{
        top: calc(25% - 20px);
    }
    
    .rectangle-animate022{
        top: calc(25% + 20px);
    }
    
    .bridge{
        width: 600px;
        height: 338px;
        margin-bottom: 0px;
    }
    
    .nav > .tab > a{
        display: none;
    }
    
    .nav > .tab > .top-icon{
        position: relative;
        display: block;
        opacity: 0.7;
        width: 26px;
        height: 26px;
        left: calc(50% - 13px);
        top: calc(50% - 13px);
        transition: all 0.5s;
    }
    
    .nav > .tab > .top-icon:hover{
        opacity: 1;
        transition: all 0.5s;
    }
    
    .nav-bottom > .bottom-tab > a{
        display: none;
    }
    
    .nav-bottom > .bottom-tab > .bottom-icon{
        position: relative;
        display: block;
        opacity: 0.35;
        width: 26px;
        height: 26px;
        left: calc(50% - 13px);
        top: calc(50% - 13px);
        transition: all 0.5s;
    }
    
    .bottom-tab:hover{
        background: #0f0f0f;
    }
    
    .nav-bottom > .bottom-tab > .bottom-icon:hover{
        opacity: 1;
        transition: all 0.5s;
    }
    
    #line-grey{
        width: 74%;
        margin-left: 13%;
    }
    
    #line-grey-small{
        width: 72%;
        margin-left: 14%;
    }
    
    .adobe-icon{
        padding-left: 13%;
    }
    .adobe-icon-bottom{
        padding-bottom: 40px;
    }
    .adobe-icon-indent{
        padding-left: 18%;
    }
    
    #skill-icon{
        margin-left: 14%;
    }
    
    #learn-more{
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    
    #video-icon{
        width: 80%;
        height: 35vw;
        margin-left: 0;
        margin-right: 0;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 25px;
    }
    
    #video-image{
        margin-left: 0;
    }
    
    #contact-side-text{
        font-size: 15px;
        width: 65%;
        text-align: left;
    }

    .active-cover{
        width: 45%;
        height: 30.3vw;
    }

    .resume-button{
        width: 200px;
        height: 30px;
        margin-left: calc(50% - 100px);
    }
    
    .resume-button-hover{
        height: 20px;
    }
    
    .experience-icon{
        height: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0%;
    }

    .research-icon img{
        width: 150px;
        margin-left: calc(50% - 75px);
        margin-right: calc(50% - 75px);
        display: inline-block;
    }
    .research-side {
        width: 100%;
        vertical-align: top;
        display: inline-block;
    }

    #skill-icon {
        height: 30px;
    }

    #skill-type {
        margin-top: 15px;
        font-size: 15px;
    }

    @keyframes bord-animation-front {
        0%
        {
            width: 0;
            height: 0;
            transform: translate(-5%, -5px);
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: white;
            opacity: 1;
        }

        40%
        {
            width: 0;
            height: 50px;
            transform: translate(-5%, -5px);
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: white;
            opacity: 1;
        }

        100%
        {
            width: 90%;
            height: 50px;
            transform: translate(5%, -5px);
            border-top-color: white;
            border-right-color: white;
            border-bottom-color: white;
            border-left-color: white;
            opacity: 1;
        }
    }
    
    #experience-side-text{
        font-size: 12px;
        margin-left: 60px;
        width: 75%;
    }

    #experience-sub-text{
        font-size: 10px;
        margin-left: 0;
        margin-top: 0;
        width: 80%;
    } 

    #experience-year-text{
        font-size: 10px;
    }
    
    #transparent{
        width: 600px;
    }

    .tabs {
        width: 75%;
    }

    .tab-year > p{
        font-size: 12px;

    }

    .course > .left-text {
        font-size: 12px;
        width: 85%;
        margin-top: 0;
        margin-bottom: 0;
    }

      .course-title > .left-text-title {
        font-size: 12px;
        width: 85%;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .course > .right-text {
        font-size: 10px;
        text-align: left;
        margin-left: 10%;
        margin-right: 0%;
        margin-top: 2%;
        margin-bottom: 6%;
        width: 90%;
    }

    #year-box1 {
        width: 18.8%;
    }

    #year-box2 {
        width: 18.8%;
    }

    #year-box3 {
        width: 18.8%;
    }

    #year-box4 {
        width: 18.8%;
    }

    .course-box {
        display: none;
    }

    #home-icon:hover #tab-box1 {
        visibility: hidden;
    }

    #skills-icon:hover #tab-box2 {
        visibility: hidden;
    }

    #projects-icon:hover #tab-box3 {
        visibility: hidden;
    }

    #experience-icon:hover #tab-box4 {
        visibility: hidden;
    }

    #contact-icon:hover #tab-box5 {
        visibility: hidden;
    }
}

@media screen and (max-width: 450px) {

    #experience-side-text{
            font-size: 11px;
        }
}

@media screen and (max-width: 400px) {

    #experience-side-text{
            font-size: 10px;
        }

    #experience-sub-text {
        font-size: 10px;
        
    }
}

@media screen and (max-width: 375px) {

    #experience-side-text{
            font-size: 9px;
        }
}